@import url('https://fonts.googleapis.com/css?family=Dosis|Roboto');


/* FU SASS, CSS VARIABLES YEEEE */
:root {
  --header-font: 'Dosis', sans-serif;
  --body-font: 'Roboto', sans-serif;
}

html {

}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: var(--body-font);
}

main h1 {
  font-family: var(--header-font);
}

#stat-bar {
  position: relative;
  background: white;
}


.map {
  flex-basis: 100%;
  height: 80vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.grass {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  margin-top: -4.1em;
}
.overlay {
  position: relative;
  margin-top: -4.1em;
}

#zone1, #zone2, #zone3, #zone4 {
  fill-opacity: 0;
  transition: 1s;
}

#zone4:hover {
  fill: #1ABA98;
  fill-opacity: 0.55;
}

#zone3:hover {
  fill: #D10AC7;
  fill-opacity: 0.55;
}

#zone2:hover {
  fill: #253798;
  fill-opacity: 0.55;
}

#zone1:hover {
  fill: #FFB914;
  fill-opacity: 0.55;
}

.grid {
    width: 100%;
    height: 100%;
    position: absolute;
}
