<% include partials/head.ejs %>


    <main>
      <div id="map"><h1>Hier komt de kaart</h1></div>
      <div id="stat-bar">
        <canvas id="power-stats" height="30"></canvas>
      </div>
    </main>


<% include partials/footer.ejs %>
